/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

/* header */

header {
    padding: 10px 40px;
    background-color: rgba(175, 31, 31, 0.685);
}

h1 {
    color: white;
    font-size: 1.4rem;
}

/* main content */

.container {
    display: flex;
}

/* nav */

nav {
    background-color: #FCFAF8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 260px;
    padding: 0 4px;
}

nav > button {
    background: none;
    border: none;
    border-radius: 6px;
    padding: 12px 10px;
    font-size: 0.9rem;
    text-align: left;
    cursor: pointer;
    margin: 0 6px;
    transition: all 0.2s;
}

nav > button:hover {
    background-color: rgb(233, 233, 233);
}

#add-task-btn {
    font-weight: 600;
    margin: 8px 0;
}

.projects-header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 50px;
    padding: 12px 20px;
}

.projects-header > button {
    border-radius: 24px;
    border: none;
    background: none;
    cursor: pointer;
    width: 24px;
}

.projects-header > button:hover {
    background-color: rgb(233, 233, 233);
}

.project-div {
    background-color: #FCFAF8;
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    padding: 12px 10px;
    margin: 0 6px;
    font-size: 0.9rem;
    cursor: pointer;
}

.project-div:hover {
    background-color: rgb(233, 233, 233);
}

.project-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 3px;
}

.project-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.project-info {
    display: flex;
    margin-left: auto;
}

.project-edit, .project-delete {
    width: 19px;
    height: 19px;
    cursor: pointer;
    transition: all 0.2s;
    margin: 2px;
}

.project-edit:hover, .project-delete:hover {
    transform: scale(1.1);
}


/* tasks */

#content {
    padding: 5px;
    margin: auto;
    margin-top: 50px;
    max-width: 800px;
    width: 55%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.task-count {
    color: grey;
    font-size: 0.9rem;
    margin: 4px 0 8px;
}

.task {
    display: flex;
    padding: 4px;
    align-items: center;
}

.task:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    border-radius: 6px;
}

.task > * {
    margin: 4px;
}

.task-checkbox {
    border: 2px solid #ddd; 
    border-radius: 50%;
    transition: all 0.2s;
}

.task-info {
    display: flex;
    margin-left: auto;
}

.task-edit, .task-delete, .task-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.2s;
    margin: 2px;
}

.task-edit:hover, .task-delete:hover {
    transform: scale(1.1);
}

/* modal */

#modal {
    border: none;
    border-radius: 10px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    top: 120px;
    right: 0;
    bottom: 0;
    left: 50px;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
    width: 500px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* max-width: 600px; */
}

#modal::backdrop {
    background: rgba(255, 255, 255, 0.4);
    /* backdrop-filter: blur(1px); */
}


.modal-header {
    padding: 20px 18px;
    display: flex;
    justify-content: space-between;
    font-size: 0.92rem;
    color: white;
    background-color: rgba(175, 31, 31, 0.685);
}

#modal-close {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; 
    color: white;
}

.modal-header > button {
    border: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 24px;
}

#modal-form {
    display: flex;
    flex-direction: column;
    padding: 24px 18px;
    margin: 0;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 49%;
}

select {
    background: none;
    cursor: pointer;
}

label {
    margin-bottom: 4px;
}

input, select, textarea {
    margin-bottom: 20px;
    padding: 6px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 6px;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border-color: #6b6b6b;
    box-shadow: 0 0 0 2px rgba(107, 107, 107, 0.15);
}

#form-project {
    margin-bottom: 40px;
}

hr {
    border-color: rgba(240, 240, 240, 0.4);
}

.form-actions {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}


#modal-cancel, .modal-submit {
    border: none;
    border-radius: 6px;
    padding: 6px 18px; 
    cursor: pointer;
}

.modal-submit {
    margin-left: 10px;
    background-color: rgba(175, 31, 31, 0.685);
    color: white;
}

.modal-submit:hover {
    background-color: rgba(175, 31, 31, 0.829)
}



/* breakpoints */

@media (max-width: 768px) {
    
  }